# Gradle
.gradle/
app/build/
build/
# Archivos de backup
*.bak
# Archivos basura generados accidentalmente
FontFamily.Monospace
FontFamily.SansSerif
SwipeState.RIGHT
temp_repo/
# IDE
.idea/
*.iml
# Sistema
.DS_Store
Thumbs.db
